:root {
  font-family: Inter, Arial, sans-serif;
  color: #f7f4ee;
  background: #111;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}
